div { width: 200px; height: 200px; background-color: rgb(200,200,200); margin-bottom: 30px; }

.box-group {
    width: 100px;

    .box1 { background: rgb(211, 211, 255); }
    .box2 { background: rgb(189, 255, 189); }
}